{% extends 'base.html' %}
{% load static %}

{% block title %}Molla - Home{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/css/skins/skin-demo-6.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/demos/demo-6.css' %}">
{% endblock %}

{% block content %}
<div class="intro-slider-container">
    <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl" data-owl-options='{
            "dots": false,
            "nav": false, 
            "responsive": {
                "992": {
                    "nav": true
                }
            }
        }'>
        <div class="intro-slide" style="background-image: url({% static 'assets/images/demos/demo-6/slider/slide-1.jpg' %});">
            <div class="container intro-content text-center">
                <h3 class="intro-subtitle text-white">You're Looking Good</h3>
                <h1 class="intro-title text-white">New Lookbook</h1>
                <a href="{% url 'product_list' %}" class="btn btn-outline-white-4">
                    <span>Discover More</span>
                </a>
            </div>
        </div>

        <div class="intro-slide" style="background-image: url({% static 'assets/images/demos/demo-6/slider/slide-2.jpg' %});">
            <div class="container intro-content text-center">
                <h3 class="intro-subtitle text-white">Don't Miss</h3>
                <h1 class="intro-title text-white">Mystery Deals</h1>
                <a href="{% url 'product_list' %}" class="btn btn-outline-white-4">
                    <span>Discover More</span>
                </a>
            </div>
        </div>
    </div>
    <span class="slider-loader"></span>
</div>

<div class="pt-2 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="banner banner-overlay">
                    <a href="{% url 'product_list' %}">
                        <img src="{% static 'assets/images/demos/demo-6/banners/banner-1.jpg' %}" alt="Banner">
                    </a>
                    <div class="banner-content banner-content-center">
                        <h4 class="banner-subtitle text-white"><a href="#">New in</a></h4>
                        <h3 class="banner-title text-white"><a href="#"><strong>Women's</strong></a></h3>
                        <a href="{% url 'product_list' %}" class="btn btn-outline-white banner-link underline">Shop Now</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="banner banner-overlay">
                    <a href="{% url 'product_list' %}">
                        <img src="{% static 'assets/images/demos/demo-6/banners/banner-2.jpg' %}" alt="Banner">
                    </a>
                    <div class="banner-content banner-content-center">
                        <h4 class="banner-subtitle text-white"><a href="#">New in</a></h4>
                        <h3 class="banner-title text-white"><a href="#"><strong>Men's</strong></a></h3>
                        <a href="{% url 'product_list' %}" class="btn btn-outline-white banner-link underline">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mt-0 mb-0">
    </div>
</div>

<div class="mb-5"></div>

<div class="container">
    <div class="heading heading-center mb-3">
        <h2 class="title">Trending</h2>
        <ul class="nav nav-pills justify-content-center" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="trending-all-link" data-toggle="tab" href="#trending-all-tab" role="tab">All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="trending-women-link" data-toggle="tab" href="#trending-women-tab" role="tab">Women</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="trending-men-link" data-toggle="tab" href="#trending-men-tab" role="tab">Men</a>
            </li>
        </ul>
    </div>

    <div class="tab-content tab-content-carousel">
        <div class="tab-pane p-0 fade show active" id="trending-all-tab" role="tabpanel">
            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                data-owl-options='{
                    "nav": false, 
                    "dots": true,
                    "margin": 20,
                    "loop": false,
                    "responsive": {
                        "0": {"items":2},
                        "480": {"items":2},
                        "768": {"items":3},
                        "992": {"items":4},
                        "1200": {"items":4, "nav": true, "dots": false}
                    }
                }'>
                <div class="product product-7 text-center">
                    <figure class="product-media">
                        <a href="{% url 'product_detail' pk=1 %}">
                            <img src="{% static 'assets/images/demos/demo-6/products/product-1-1.jpg' %}" alt="Product image" class="product-image">
                            <img src="{% static 'assets/images/demos/demo-6/products/product-1-2.jpg' %}" alt="Product image" class="product-image-hover">
                        </a>
                        <div class="product-action-vertical">
                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                        </div>
                        <div class="product-action">
                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                        </div>
                    </figure>
                    <div class="product-body">
                        <div class="product-cat"><a href="#">Clothing</a></div>
                        <h3 class="product-title"><a href="{% url 'product_detail' pk=1 %}">Denim jacket</a></h3>
                        <div class="product-price">$19.99</div>
                    </div>
                </div>

                <div class="product product-7 text-center">
                    <figure class="product-media">
                        <a href="{% url 'product_detail' pk=2 %}">
                            <img src="{% static 'assets/images/demos/demo-6/products/product-2-1.jpg' %}" alt="Product image" class="product-image">
                            <img src="{% static 'assets/images/demos/demo-6/products/product-2-2.jpg' %}" alt="Product image" class="product-image-hover">
                        </a>
                        <div class="product-action-vertical">
                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                        </div>
                        <div class="product-action">
                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                        </div>
                    </figure>
                    <div class="product-body">
                        <div class="product-cat"><a href="#">Shoes</a></div>
                        <h3 class="product-title"><a href="{% url 'product_detail' pk=2 %}">Sandals</a></h3>
                        <div class="product-price">$24.99</div>
                    </div>
                </div>

                <div class="product product-7 text-center">
                    <figure class="product-media">
                        <span class="product-label label-sale">sale</span>
                        <a href="{% url 'product_detail' pk=3 %}">
                            <img src="{% static 'assets/images/demos/demo-6/products/product-3-1.jpg' %}" alt="Product image" class="product-image">
                            <img src="{% static 'assets/images/demos/demo-6/products/product-3-2.jpg' %}" alt="Product image" class="product-image-hover">
                        </a>
                        <div class="product-action-vertical">
                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                        </div>
                        <div class="product-action">
                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                        </div>
                    </figure>
                    <div class="product-body">
                        <div class="product-cat"><a href="#">Clothing</a></div>
                        <h3 class="product-title"><a href="{% url 'product_detail' pk=3 %}">Printed sweatshirt</a></h3>
                        <div class="product-price">
                            <span class="new-price">Now $7.99</span>
                            <span class="old-price">Was $12.99</span>
                        </div>
                    </div>
                </div>

                <div class="product product-7 text-center">
                    <figure class="product-media">
                        <a href="{% url 'product_detail' pk=4 %}">
                            <img src="{% static 'assets/images/demos/demo-6/products/product-4-1.jpg' %}" alt="Product image" class="product-image">
                            <img src="{% static 'assets/images/demos/demo-6/products/product-4-2.jpg' %}" alt="Product image" class="product-image-hover">
                        </a>
                        <div class="product-action-vertical">
                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                        </div>
                        <div class="product-action">
                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                        </div>
                    </figure>
                    <div class="product-body">
                        <div class="product-cat"><a href="#">Clothing</a></div>
                        <h3 class="product-title"><a href="{% url 'product_detail' pk=4 %}">Linen-blend trousers</a></h3>
                        <div class="product-price">$17.99</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane p-0 fade" id="trending-women-tab" role="tabpanel">
            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                data-owl-options='{
                    "nav": false, 
                    "dots": true,
                    "margin": 20,
                    "loop": false,
                    "responsive": {
                        "0": {"items":2},
                        "480": {"items":2},
                        "768": {"items":3},
                        "992": {"items":4},
                        "1200": {"items":4, "nav": true, "dots": false}
                    }
                }'>
                <div class="product product-7 text-center">
                    <figure class="product-media">
                        <a href="{% url 'product_detail' pk=1 %}">
                            <img src="{% static 'assets/images/demos/demo-6/products/product-1-1.jpg' %}" alt="Product image" class="product-image">
                        </a>
                        <div class="product-action">
                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                        </div>
                    </figure>
                    <div class="product-body">
                        <div class="product-cat"><a href="#">Clothing</a></div>
                        <h3 class="product-title"><a href="{% url 'product_detail' pk=1 %}">Denim jacket</a></h3>
                        <div class="product-price">$19.99</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane p-0 fade" id="trending-men-tab" role="tabpanel">
            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                data-owl-options='{
                    "nav": false, 
                    "dots": true,
                    "margin": 20,
                    "loop": false,
                    "responsive": {
                        "0": {"items":2},
                        "480": {"items":2},
                        "768": {"items":3},
                        "992": {"items":4},
                        "1200": {"items":4, "nav": true, "dots": false}
                    }
                }'>
                <div class="product product-7 text-center">
                    <figure class="product-media">
                        <a href="{% url 'product_detail' pk=2 %}">
                            <img src="{% static 'assets/images/demos/demo-6/products/product-2-1.jpg' %}" alt="Product image" class="product-image">
                        </a>
                        <div class="product-action">
                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                        </div>
                    </figure>
                    <div class="product-body">
                        <div class="product-cat"><a href="#">Shoes</a></div>
                        <h3 class="product-title"><a href="{% url 'product_detail' pk=2 %}">Sandals</a></h3>
                        <div class="product-price">$24.99</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mb-5"></div>

<div class="deal bg-image pt-8 pb-8" style="background-image: url({% static 'assets/images/demos/demo-6/deal/bg-1.jpg' %});">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-8 col-lg-6">
                <div class="deal-content text-center">
                    <h4>Limited quantities.</h4>
                    <h2>Deal of the Day</h2>
                    <div class="deal-countdown" data-until="+10h"></div>
                </div>
                <div class="row deal-products">
                    <div class="col-6 deal-product text-center">
                        <figure class="product-media">
                            <a href="{% url 'product_detail' pk=1 %}">
                                <img src="{% static 'assets/images/demos/demo-6/deal/product-1.jpg' %}" alt="Product image" class="product-image">
                            </a>
                        </figure>
                        <div class="product-body">
                            <h3 class="product-title"><a href="{% url 'product_detail' pk=1 %}">Linen-blend dress</a></h3>
                            <div class="product-price">
                                <span class="new-price">Now $12.99</span>
                                <span class="old-price">Was $15.99</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 deal-product text-center">
                        <figure class="product-media">
                            <a href="{% url 'product_detail' pk=2 %}">
                                <img src="{% static 'assets/images/demos/demo-6/deal/product-2.jpg' %}" alt="Product image" class="product-image">
                            </a>
                        </figure>
                        <div class="product-body">
                            <h3 class="product-title"><a href="{% url 'product_detail' pk=2 %}">Paper bag trousers</a></h3>
                            <div class="product-price">
                                <span class="new-price">Now $14.99</span>
                                <span class="old-price">Was $17.99</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mb-6"></div>

<div class="container">
    <div class="heading heading-center mb-3">
        <h2 class="title-lg">Shop by Category</h2>
    </div>

    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <div class="banner banner-cat">
                <a href="{% url 'product_list' %}">
                    <img src="{% static 'assets/images/demos/demo-6/cats/cat-1.jpg' %}" alt="Banner">
                </a>
                <div class="banner-content banner-content-overlay">
                    <h3 class="banner-title"><a href="{% url 'product_list' %}">Dresses</a></h3>
                    <a href="{% url 'product_list' %}" class="banner-link">Shop Now</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-4">
            <div class="banner banner-cat">
                <a href="{% url 'product_list' %}">
                    <img src="{% static 'assets/images/demos/demo-6/cats/cat-2.jpg' %}" alt="Banner">
                </a>
                <div class="banner-content banner-content-overlay">
                    <h3 class="banner-title"><a href="{% url 'product_list' %}">Tops</a></h3>
                    <a href="{% url 'product_list' %}" class="banner-link">Shop Now</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-4">
            <div class="banner banner-cat">
                <a href="{% url 'product_list' %}">
                    <img src="{% static 'assets/images/demos/demo-6/cats/cat-3.jpg' %}" alt="Banner">
                </a>
                <div class="banner-content banner-content-overlay">
                    <h3 class="banner-title"><a href="{% url 'product_list' %}">Shoes</a></h3>
                    <a href="{% url 'product_list' %}" class="banner-link">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mb-5"></div>

<div class="bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner banner-overlay">
                    <a href="{% url 'product_list' %}">
                        <img src="{% static 'assets/images/demos/demo-6/banners/banner-3.jpg' %}" alt="Banner">
                    </a>
                    <div class="banner-content banner-content-center">
                        <h4 class="banner-subtitle text-white"><a href="#">Clearance</a></h4>
                        <h3 class="banner-title text-white"><a href="#"><strong>Chairs & Chaises</strong><br>Up to 40% off</a></h3>
                        <a href="{% url 'product_list' %}" class="btn btn-outline-white banner-link underline">Shop Now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 d-flex align-items-stretch subscribe-div">
                <div class="cta cta-box">
                    <div class="cta-content">
                        <h3 class="cta-title">Subscribe To Our Newsletter</h3>
                        <p>Sign up now for <span class="primary-color">10% discount</span> on first order. Customise my news:</p>
                        <form action="#">
                            <input type="email" class="form-control" placeholder="Enter your Email Address" required>
                            <div class="text-center">
                                <button class="btn btn-outline-dark-2" type="submit"><span>subscribe</span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mb-5"></div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'assets/js/demos/demo-6.js' %}"></script>
{% endblock %}
